@import "tailwindcss";

/* reset léger */
:root { color-scheme: light; }
html, body { margin: 0; padding: 0; }

/* anchors feel like buttons */
a { cursor: pointer; user-select: none; pointer-events: auto; }
